[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
djangorestframework = "*"
django-debug-toolbar = "*"
django = "~=1.11"
markdown = "*"
coreapi = "*"
mysqlclient = "*"
Pillow = "*"
[requires]
python_version = "2.7"
