boto3==1.15.16
coreapi==2.3.3
Django==3.1.8
django-debug-toolbar==3.2.1
django-influxdb-metrics==1.4.0
django-ratelimit==3.0.1
django-redis==4.12.1
django-rq==2.3.2
djangorestframework==3.12.1
gevent==20.9.0
gunicorn==20.0.4
mysqlclient==2.0.1
Pillow==8.2.0
raven==6.10.0
redis==3.5.3
requests==2.24.0
sentry-sdk==0.19.0
simplejson==3.17.2
whitenoise==5.2.0
