boto3==1.12.9
coreapi==2.3.3
Django==3.0.3
django-debug-toolbar==2.2
django-influxdb-metrics==1.4.0
django-ratelimit==2.0.0
django-redis==4.11.0
django-rq==2.3.0
djangorestframework==3.11.0
gevent==1.4.0
gunicorn==20.0.4
mysqlclient==1.4.6
Pillow==7.0.0
raven==6.10.0
redis==3.4.1
requests==2.23.0
sentry-sdk==0.14.2
simplejson==3.17.0
whitenoise==5.0.1
