<!doctype html>
<html lang="en">
	<head>
       {% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="{% static "credoweb/css/Lato.css" %}" rel="stylesheet">
		<link href="{% static "credoweb/css/fontawesome-all.min.css" %}" rel="stylesheet">
		<link href="{% static "credoweb/css/style.css" %}" rel="stylesheet">
		{% block title %}<title>api.credo.science</title>{% endblock %}

	</head>

	<body>

		<!-- HEADER SECTION -->
		<div class="header">
			<div class="page">
				<!-- HEADER MENU SECTION -->
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'password_reset' %}">Change password</a></li>
                    <li><a href="{% url 'register' %}">Create account</a></li>
					<li><a href="http://credo.science/">CREDO project</a></li>
					<li><a href="{% url 'faq' %}">FAQ</a></li>
				</ul>
				<!-- END HEADER MENU SECTION -->

				<!-- HEADER FLAGS SECTION -->
                <!--
				<div class="flags">
					<img src="https://api.credo.science/media/images/flags/pl.png">
				</div>
				-->
				<!-- END HEADER FLAGS SECTION -->
			</div>
		</div>
		<!-- END HEADER SECTION -->


		<!-- PAGE SECTION -->
		<div class="page">

			<!--LOGO SECTION -->
			<div class="logo">
				<img src="{% static "credoweb/credo-logo.png" %}" class="logo-image">
			</div>
			<!--END LOGO SECTION -->

			<div class="left">
				{% block content %}

				{% endblock %}

			<div class="right">

                <div id="image_view" class="fixed" style="display: none;">
                    <div style="margin-top: 5px">
                        <div class="content">
                            <center><span style="margin: 5px;">Image view <i id="close_img_view" class="far fa-window-close"></i></span></center>
                            <img src="" width="100%" id="new_img"/>
                        </div>
                    </div>
                </div>

			<!-- LOGIN SECTION -->
            {% comment %}
				<div class="box">

					{% block login %}

					<div class="title"> Login area </div>

					<form method="post" action="">

						<input name="email_login" class="input" placeholder="Email" type="text">
						<input name="passowrd_login" class="input"  placeholder="Password" type="text">
						<div class="right-submit">
							<input type="submit" class="submit" value="Sign In">
						</div>
						<div class="right-info">

							<b> How does it work? </b> <br/>
							Sign up now and use api for free

						</div>

					</form>

				    </div>
				    {% endblock %}
			</div>
			<!--END LOGIN SECTION -->
			{% endcomment %}

		</div>
		<!-- END PAGE SECTION -->

		<!-- FOOTER SECTION -->
		<div class="footer">
			Copyright by CREDO team.
		</div>
		<!-- END FOOTER SECTION -->

		<script src="{% static "credoweb/jquery-3.3.1.slim.min.js" %}"></script>
		<script src="{% static "credoweb/scripts.js" %}"></script>
	</body>
</html>
