{% extends "credoweb/base.html" %}

{% block content %}

    <div class="box">

        <div class="title">Contest</div>
        <div class="information">
            <h3>{{ name }}</h3>
            <p>{{ description }}</p>
            <br/>
            Rules:<br/>
            <br/>
            1. Organizer: CREDO Collaboration | Krakow group<br/>
            2. Only team competition! Minimum number of players in team: 2.<br/>
            3. You can change your team whenever you want, particles detected by your device are asigned to the score of
            the team you belong at the moment of detection.<br/>
            4. Be warned that artifacts (unphysical detections) may appear (e.g. electronics background)! For this
            reason the Organizer reserve the right to verify detections, and remove from the statistics if needed. The
            verification process will be fully transparent and the Championships participants will have chance to
            appeal.<br/>
            <br/>
            Tips:<br/>
            0. <a href="https://play.google.com/store/apps/details?id=science.credo.mobiledetector">Update the
            app!</a><br/>
            1. Your detections should look e.g. like these:<br/>
            <ul>
                <li><a href="https://api.credo.science/web/user/Piotr_Homola/">https://api.credo.science/web/user/Piotr_Homola/</a></li>
                <li><a href="https://api.credo.science/web/user/Przemek/">https://api.credo.science/web/user/Przemek/</a></li>
                <li><a href="https://api.credo.science/web/user/ph-huawei-p9/">https://api.credo.science/web/user/ph-huawei-p9/</a></li>
            </ul>
            2. For physical reasons we are suspicious about detections more often than 10/1hr, within a longer time
            period. We will be removing such detections unless the user inform us about the physical size of the sensor
            matrix in his/her camera. Larger cameras can detect particles more frequently.<br/>
            3. Remember to have fun!<br/>
            4. Remember you are helping science!<br/>
            5. The current world record in team particle hunting with smartphones, category "within 1 hour": 12. It is
            hold by the IFJ team, collected during the particle hunters match IFJ - Gimnazjum Rzezawa on 16.11.2017.
            Time to beat IFJ!
            <br/>
        </div>
        <div class="panel">
            <div class="panel-users">
                <div class="title"><i class="fas fa-chart-bar"></i> Top users</div>

                <table width="100%">
                    <tr>
                        <th><i class="fas fa-sort"></i> Name</th>
                        <th><i class="fas fa-sort"></i> Detections</th>
                    </tr>

                    {% for user in top_users %}

                    <tr>
                        <td><a href="{% url 'user_page' username=user.0.0 %}">{{ user.0.1 }}</a></td>
                        <td>{{ user.1 }}</td>
                    </tr>

                    {% endfor %}

                </table>
            </div>

            <div class="panel-users">
                <div class="title"><i class="fas fa-chart-bar"></i> Top teams</div>
                <table width="100%">
                    <tr>
                        <th><i class="fas fa-sort"></i> Name</th>
                        <th><i class="fas fa-sort"></i> Detections</th>
                    </tr>

                    {% for team in top_teams %}
                    <tr>
                        <td><a href="{% url 'team_page' name=team.0 %}">{{ team.0 }}</a></td>
                        <td>{{ team.1 }}</td>
                    </tr>

                    {% endfor %}

                </table>
            </div>

        </div>

        <div class="panel">
            <div class="title"><i class="fas fa-chart-bar"></i> Detections</div>
            <table>
                <tr>
                    <th><i class="fas fa-sort"></i> time</th>
                    <th><i class="fas fa-sort"></i> name</th>
                    <th><i class="fas fa-sort"></i> team</th>
                    <th><i class="fas fa-sort"></i> img</th>
                </tr>
                {% for detection in recent_detections %}
                <tr>
                    <td width="30%"> {{ detection.date }}</td>
                    <td><a href="{% url 'user_page' username=detection.user.name %}">{{ detection.user.display_name }}</a>
                    </td>
                    <td><a href="{% url 'team_page' name=detection.team.name %}">{{ detection.team.name }}</a></td>
                    <td width="50px" align="center"><img style="display:block; width:30px;height:30px;"
                                                         src="data:image/png;base64,{{ detection.img }}"
                                                         class="big_img">
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>


    </div>
{% endblock %}
