{% extends "credoweb/base.html" %}

{% block content %}

<div class="panel">
    <div class="panel-users">
        <div class="title"><i class="fas fa-chart-bar"></i> top 5 users</div>

        {% if top_users %}

        <table width="100%">
            <tr>
                <th><i class="fas fa-sort"></i> Login</th>
                <th><i class="fas fa-sort"></i> Detections</th>
            </tr>

            {% for user in top_users %}

            <tr>
                <td><a href="{% url 'user_page' username=user.name %}">{{ user.display_name }}</a></td>
                <td>{{ user.detection_count }}</td>
            </tr>

            {% endfor %}

        </table>

        {% endif %}

    </div>

    <div class="panel-users-registerd">
        <div class="title"><i class="fas fa-chart-bar"></i>5 registered users</div>
        <table width="100%">
            <tr>
                <th><i class="fas fa-sort"></i> Login</th>
                <th><i class="fas fa-sort"></i> Detections</th>
            </tr>
            <tr>
                <td><a href="index.php?page=user&id=121"> kilo </a></td>
                <td> 116,661</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel">
    <div class="title"><i class="fas fa-chart-bar"></i> Last 20 detections</div>
    {% if recent_detections %}
    <table>
        <tr>
            <th><i class="fas fa-sort"></i> date</th>
            <th><i class="fas fa-sort"></i> login</th>
            <th><i class="fas fa-sort"></i> team</th>
            <th><i class="fas fa-sort"></i> img</th>
        </tr>
        {% for detection in recent_detections %}
        <tr>
            <td width="30%"> 2 hours ago</td>
            <td><a href="{% url 'user_page' username=detection.user.name %}">{{ detection.user.display_name }}</a></td>
            <td><a href="{% url 'team_page' name=detection.team.name %}">{{ detection.team.name }}</a></td>
            <td width="50px" align="center"><img style="display:block; width:30px;height:30px;" src="data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAQRJREFU
								OI2tlEGShSAMRLvBKnfexMN4Eq/tyhtAZvGHVAjEcaYmVS4U8mi6BeacBf9YKRxI4dDfgLXW7l3k
								3UaSVyMi+uiklEBymDNbMNkmANpIUieVUjoIyW4BW4xCsQqi5lktFmAbfwMZgDPDvUK73ahEpE/5
								KUnrWxQKyQ/QBmEBVt22bTiOA/u+K7xBrV3JA/yKALCuK87zxH3fuK5ruqh+aylbgA/I2hF52HqW
								tyfgTepdKCSHn3umMHpXhm325zdSaGHeii7laPuRmpnXC5ABlEFF36wHCiIV5Dw4VTh8fLgLyRTC
								DDB/P59qXjawSPO2ACiPiXdSvLJa648Xqx//AgEbnuRqs6w3AAAAAElFTkSuQmCC
								" class="big_img"></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

</div>

</div>

{% endblock %}