<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rules - CREDO Detector</title>
</head>

<body>

    <h1>REGULAMIN</h1>

    <a href="#tos-en">(see english version)</a>

    <h2>Klauzula Zgody</h2>

    <p>
        Akceptując poniższy regulamin użytkownika aplikacji CREDO Detector oraz, zgodnie z art. 6
        ust.1 lit. a ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016
        r. (Dz. Urz. UE L 119 z 04.05.2016), użytkownik w chwili rejestracji w aplikacji CREDO
        Detector wyraża zgodę na przetwarzanie danych osobowych (w postaci adresu e-mail,
        informacji o lokalizacji urządzenia mobilnego oraz dostępu do galerii urządzenia(zapis
        obrazów detekcji)) przez Instytut Fizyki Jądrowej im. Henryka Niewodniczańskiego Polskiej
        Akademii Nauk w Krakowie w celach określonych w regulaminie użytkownika aplikacji
        CREDO Detector tj. realizacji celów badawczych projektu CREDO
    </p>

    <h2>1. Uwagi wstępne</h2>

    <ol>
        <li>
            Aplikacja CREDO jest jednym z narzędzi do akwizycji i analizy danych w
            Ekstremalnie Rozproszonym Obserwatorium Promieni Kosmicznych (ang.
            Cosmic-Ray Extremely Distributed Observatory) - CREDO, którego celem jest
            detekcja i badanie promieniowania kosmicznego w skali globalnej w poszukiwaniu
            zespołów promieniowania kosmicznego (ang. cosmic-ray ensembles).
        </li>
        <li>
            CREDO jest międzynarodowym przedsięwzięciem naukowym wymagającym
            zaangażowania nie-naukowców w formacie nauki obywatelskiej (citizen science).
            Uczestnicy projektu dysponujący urządzeniami mobilnymi z zainstalowaną aplikacją
            CREDO Detector mogą gromadzić informacje naukowe o wykrytych cząstkach
            promieniowania kosmicznego (zwane dalej także jako: „dane”). Informacje te
            wysyłane są automatycznie na serwery CREDO. Wszyscy uczestnicy mają dostęp
            do zgromadzonych danych i mogą je przetwarzać za pomocą aplikacji
            udostępnianych przez CREDO, a także korzystając z własnych narzędzi.
        </li>
        <li>
            Dane kontaktowe Współpracy CREDO oraz podstawowe informacje o projekcie
            <a href="https://credo.science/">https://credo.science/</a> oraz na fanpage'u:
            <a href="https://www.facebook.com/credo.science/">https://www.facebook.com/credo.science/</a>
        </li>
    </ol>

    <h2>2. Udział w projekcie CREDO</h2>

    <ol>
        <li>
            Udział w projekcie CREDO za pośrednictwem aplikacji CREDO Detector polega na
            zainstalowaniu na urządzeniu aplikacji CREDO Detector, zarejestrowaniu się za jej
            pomocą w projekcie CREDO i uruchomieniu w tej aplikacji funkcji “Uruchom
            Eksperyment” ze szczelnie zasłoniętą przed światłem kamerą główną. Rejestracja
            jest niezbędna dla zapewnienia odpowiedniego poziomu zaufania do zbieranych
            danych, natomiast szczelne zasłonięcie kamery jest niezbędne dla poprawnej
            interpretacji sygnału generowanego w matrycy światłoczułej urządzenia mobilnego
            przez przenikliwe cząstki promieniowania kosmicznego.
        </li>
        <li>
            Użytkownikiem aplikacji CREDO Detector może być każda osoba pełnoletnia. W
            przypadku osoby niepełnoletniej, konieczna jest wiedza i zgoda rodziców lub
            prawnych opiekunów.
        </li>
        <li>
            Użytkownik aplikacji CREDO Detector zgadza się na przekazywanie CREDO dla
            realizacji celów badawczych projektu następujących danych: adres e-mail; nazwa
            użytkownika (unikatowa nazwa konta), wyświetlana (publiczna) nazwa użytkownika,
            nazwa zespołu, do którego chce należeć; dane o lokalizacji GPS urządzenia;
            orientacja urządzenia względem ziemi; model urządzenia; wersja systemu
            operacyjnego; zdjęcia zawierające sygnał wygenerowany przez promieniowanie
            przenikliwe lub inne sygnały znacząco przekraczające poziom tła.
        </li>
        <li>
            W celach bezpieczeństwa zalecane jest nie podawanie swoich danych osobowych
            jak imię, nazwisko, adres email w nazwie użytkownika - zarówno w unikatowej jak i
            publicznej nazwie.
        </li>
        <li>
            Na podany podczas rejestracji adres e-mail mogą być wysyłane wiadomości
            informacyjne na temat projektu CREDO. Rejestracja oznacza zgodę na
            otrzymywanie wiadomości informacyjne na temat projektu CREDO.
        </li>
        <li>
            Z konta uczestnika ma prawo korzystać wyłącznie właściciel tego konta. Zabronione
            jest udostępnianie konta osobom trzecim.
        </li>
        <li>
            Użytkownik jest zobowiązany należycie zabezpieczyć swoje konto oraz inne dane
            służące do autoryzacji przed niepowołanym dostępem m.in. przez stosowanie
            trudnych do odgadnięcia haseł, odpowiednich praw dostępu oraz szyfrowania.
        </li>
        <li>
            Za pomocą swojego konta, uczestnik może zalogować się na serwer projektu
            CREDO i pobrać informacje zgromadzone przez siebie oraz innych uczestników.
        </li>
        <li>
            Uczestnictwo w projekcie CREDO jest dobrowolne i nie wiąże się z odpłatnością na
            rzecz podmiotów tworzących współpracę CREDO.
        </li>
        <li>
            Podmioty tworzące współpracę CREDO nie oferują i nie świadczą na rzecz
            Uczestników projektu Credo usług, w tym drogą elektroniczną.
        </li>
    </ol>

    <h2>3. Sposób działania aplikacji CREDO Detector</h2>

    <ol>
        <li>
            Aplikacja, w czasie działania funkcji “Uruchom Eksperyment”, zbiera informacje
            potrzebne do realizacji celów badawczych CREDO, zapisuje je w pamięci cache
            urządzenia, następnie, gdy dostępne jest połączenie z siecią Internet, wysyła
            zgromadzone informacje do serwerów projektu CREDO.
        </li>
        <li>
            Gdy funkcja “Uruchom Eksperyment” jest wyłączona, aplikacja nie zbiera żadnych
            danych, ale może wysyłać zgromadzone dane w czasie wcześniejszego działania
            funkcji “Uruchom Eksperyment”, których nie udało się jeszcze pomyślnie wysłać na
            serwer.
        </li>
        <li>
            Aplikacja umożliwia podgląd danych zgromadzonych podczas działania funkcji
            “Uruchom Eksperyment”, które zostały wysłane na serwer w ciągu ostatnich 10 dni.
        </li>
    </ol>

    <h2>4. Działanie funkcji “Uruchom Eksperyment”</h2>

    <ol>
        <li>
            Aplikacja rejestruje obraz z kamery podłączonej do urządzenia i przetwarza go na
            tym samym urządzeniu.
        </li>
        <li>
            Wynikiem przetwarzania obrazu jest informacja o wykryciu lub braku wykrycia
            sygnału znacznie przekraczającego poziom tła, dalej sygnału nadwyżkowego, który
            może być sygnałem wygenerowanym przez cząstki przenikliwe wtórnego
            promieniowania kosmicznego.
        </li>
        <li>
            Informacja o wykryciu sygnału nadwyżkowego zawiera wycinek z klatki obrazu
            zawierający wykryty sygnał.
        </li>
        <li>
            Zawartość obrazu z klatek, na których nie wykryto sygnału nadwyżkowego nie jest
            zapisywana w pamięci trwałej urządzenia ani wysłana poza urządzenie.
        </li>
        <li>
            Wycinek z klatki obrazu zawierający wykryty sygnał nadwyżkowy jest zapisywany w
            pamięci cache urządzenia i wysyłany do serwerów projektu CREDO za
            pośrednictwem sieci Internet. Pozostała część klatki obrazu nie jest zapisywana w
            pamięci trwałej urządzenia ani wysyłana poza to urządzenie.
        </li>
        <li>
            Ze wszystkich klatek obrazu gromadzone są dane statystyczne na temat średniej
            jasności każdej klatki obrazu, jasności najjaśniejszego punktu na klatce obrazu i
            liczby pikseli obrazu, które są ciemniejsze niż parametr zdefiniowany w ustawieniach
            aplikacji. Dane te są agregowane w okresach 10 minutowych. Agregacja zawiera
            informacje o wartości minimalnej, średniej i maksymalnej.
        </li>
    </ol>

    <h2>5. Informacje dodatkowe gromadzone w czasie działania funkcji “Uruchom Eksperyment”</h2>

    <ol>
        <li>
            W czasie działania funkcji “Uruchom Eksperyment” gromadzone są informacje dodatkowe o:
            <ul>
                <li>typie i modelu urządzenia oraz wersji systemu operacyjnego,</li>
                <li>położeniu GPS kamery,</li>
                <li>orientacji urządzenia względem ziemi (parametry X, Y i Z odczytane z akcelerometru),</li>
                <li>stanu urządzenia (podłączony do ładowarki, ładowanie USB, brak ładowania) i stanu baterii (poziom
                    naładowania),</li>
                <li>temperatura urządzenia (jeżeli jest wyposażone w termometr).</li>
            </ul>
        </li>
        <li>
            Dodatkowe informacje zbierane są w momencie wykrycia sygnału nadwyżkowego
            oraz co 10 min w czasie działania funkcji “Uruchom Eksperyment”.
        </li>
    </ol>

    <h2>6. Informacje wysyłane na serwery projektu CREDO</h2>

    <ol>
        <li>
            Na serwery projektu CREDO wysyłane są informacje o wykryciu sygnału
            nadwyżkowego.
        </li>
        <li>
            Wraz z informacją o wykryciu sygnału nadwyżkowego oraz co 10 minut w czasie
            działania funkcji “Detektor”, aplikacja wysyła na serwery projektu CREDO informacje
            dodatkowe opisane w pkt 1. (5.1.)
        </li>
        <li>
            Wszystkie informacje wysyłane na serwery projektu CREDO wysyłane są wraz z
            identyfikatorem (ID) konta uczestnika.
        </li>
        <li>
            W przypadku braku możliwości wysłania zgromadzonych informacji za
            pośrednictwem sieci Internet, informacje są zapisywane w pamięci urządzenia.
            Próba wysłania zgromadzonych informacji jest ponawiana gdy urządzenie uzyska
            dostęp do sieci Internet.
        </li>
    </ol>

    <h2>7. Informacje gromadzone i udostępniane na serwerach projektu CREDO</h2>

    <ol>
        <li>
            Serwery projektu CREDO gromadzą i przetwarzają na potrzeby projektu CREDO
            wszystkie dane nadesłane przez urządzenia z uruchomioną aplikacją CREDO
            Detector.
        </li>
        <li>
            Użytkownik ma prawo do usunięcia konta uczestnika projektu CREDO. Usunięcie
            konta można dokonać wysyłając mail na adres credodetector@credo.science
            podając dane konta (nazwa użytkownika, email, przyczyna usunięcia konta).
            Usunięcie konta spowoduje usunięcie danych osobowych zapisanych w
            ustawieniach konta, natomiast ze zgromadzonych danych z aplikacji CREDO
            Detector usunięte zostaną jedynie powiązania z tym kontem.
        </li>
        <li>
            Wszyscy uczestnicy projektu CREDO po uzyskaniu większego dostępu mają wgląd
            we wszystkie dane naukowe wysyłane na serwer z aplikacji CREDO Detector
            każdego z uczestników.
        </li>
        <li>
            Uzyskanie dostępu do danych naukowych następuję po mailowym skontaktowaniu
            się z koordynatorem naukowym CREDO (credodetector@credo.science) i opisaniu
            dlaczego użytkownik chce uzyskać dostęp do pełnych danych i co zamierza zrobić z
            danymi.
        </li>
    </ol>

    <h2>8. Bezpieczeństwo użytkowania aplikacji CREDO</h2>

    <ol>
        <li>
            W czasie działania funkcji “Uruchom Eksperyment” urządzenie i kamera mogą się
            nagrzewać. Użytkownik jest zobowiązany dbać o to, by nie doszło do przegrzania,
            które mogłoby doprowadzić do uszkodzenia, spowodowania poparzeń u ludzi lub
            zwierząt oraz spowodowania pożaru. Stosowne informacje powinny znajdować się w
            instrukcji obsługi urządzenia i kamery.
        </li>
        <li>
            W czasie używania aplikacji użytkownik zobowiązuje się nie zostawiać urządzeń bez
            nadzoru bez którego może dojść do zagrożeń wspomnianych w punkcie 8.1.
        </li>
        <li>
            Użytkownik powinien być świadomy drenażu baterii przy zbyt długim czasie pracy
            aplikacji oraz ciągłym zasilaniu urządzenia. Jeżeli użytkownik obawia się o stan
            baterii w urządzeniu to zalecane jest ograniczanie czasu pracy aplikacji na
            urządzeniu używanym na co dzień do
            <ul>
                <li>kilku godzin</li>
                <li>tylko w czasie ładowania urządzenia (gdy bateria wymaga naładowania)</li>
                <li>rezygnacji używania z aplikacji na nowym urządzeniu i ograniczeniu się do używania na starszym
                    urządzeniu.</li>
            </ul>
        </li>
    </ol>

    <h2>9. Uwagi końcowe</h2>

    <ol>
        <li>
            Zabrania się wykorzystywania informacji zebranych w projekcie CREDO w celach
            innych niż naukowe, zwłaszcza w celach niezgodnych z prawem oraz wszelkich
            działań umyślnych, które mogą zakłócić poprawne funkcjonowanie projektu CREDO.
        </li>
        <li>
            CREDO uprzejmie prosi użytkowników do załączania informacji o wykorzystaniu
            infrastruktury i danych projektu CREDO w publikacjach, które powstały w oparciu o
            wyniki uzyskane przy użyciu tego projektu oraz powiadomienia Międzynarodowej
            Współpracy CREDO o publikacji.
        </li>
        <li>
            CREDO uprzejmie prosi również o informacje o nieprawidłowym działaniu aplikacji
            CREDO Detektor. Informacje diagnostyczne o nieprawidłowym zamknięciu aplikacji
            wysyłane są na serwery projektu CREDO automatycznie.
        </li>
        <li>
            Twórcy aplikacji CREDO Detector zastrzegają sobie możliwość wprowadzania zmian
            w niniejszym regulaminie.
        </li>
        <li>
            Regulamin jest opublikowany na stronie
            <a href="https://api.credo.science/web/rules/">https://api.credo.science/web/rules/</a>
        </li>
        <li>
            Zmiany w Regulaminie zostaną podane do wiadomości poprzez opublikowanie na
            stronie <a href="https://credo.science/">https://credo.science/</a>
        </li>
    </ol>

    <h1>Przetwarzanie danych osobowych</h1>

    <p>
        Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia
        2016 r. (Dz. Urz. UE L 119 z 04.05.2016) (dalej: RODO) informujemy, iż:
    </p>
    <ol>
        <li>
            administratorem Pani/Pana danych osobowych jest Instytut Fizyki Jądrowej im. Henryka
            Niewodniczańskiego Polskiej Akademii Nauk, ul. Radzikowskiego 152, 31-342 Kraków
        </li>
        <li>
            kontakt z Inspektorem Ochrony Danych Osobowych możliwy jest pod adresem dpo@ifj.edu.pl
        </li>
        <li>
            Pani/Pana dane osobowe przetwarzane będą na podstawie art. 6 ust. 1 lit. a w celu
            realizacji celów badawczych projektu CREDO
        </li>
        <li>
            odbiorcami Pani/Pana danych osobowych będą wyłącznie:
            <ul>
                <li>podmioty uprawnione do uzyskania danych osobowych na podstawie przepisów prawa (np. sąd, policja)
                </li>
                <li>podmioty współpracujące w ramach współpracy naukowej oraz realizujące usługi dla IFJ
                    PAN (np. ACK Cyfronet, administratorzy, twórcy aplikacji)</li>
                <li>sklep z aplikacjami (Google Play)</li>
            </ul>
        </li>
        <li>
            Pani/Pana dane będą przechowywane do momentu cofnięcia zgody na przetwarzanie
        </li>
        <li>
            Pani/Pana dane osobowe nie będą podlegały zautomatyzowanemu przetwarzaniu, w tym profilowaniu
        </li>
        <li>
            Posiada Pani/Pan prawo do żądania realizacji swoich praw wynikających z RODO:
            <ul>
                <li>dostępu do swoich danych oraz otrzymania ich kopii,</li>
                <li>do sprostowania (poprawiania) swoich danych,</li>
                <li>do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem
                    przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem,</li>
                <li>do usunięcia danych osobowych, w sytuacji, gdy przetwarzanie danych nie następuje w
                    celu wywiązania się z obowiązku wynikającego z przepisu prawa lub w ramach sprawowania
                    władzy publicznej,</li>
                <li>do ograniczenia przetwarzania danych,</li>
                <li>do przenoszenia danych,</li>
                <li>do wniesienia sprzeciwu wobec przetwarzania danych. Sprzeciw wiąże się z usunięciem
                    konta użytkownika.</li>
            </ul>
        </li>
        <li>
            Ma Pani/Pan prawo do wniesienia skargi do Prezesa UODO (na adres Urzędu Ochrony
            Danych Osobowych, ul. Stawki 2, 00 - 193 Warszawa, www.uodo.gov.pl) jeśli uważa
            Pani/Pan, że dane osobowe są przetwarzane niezgodnie z wymogami prawnymi
        </li>
        <li>
            Podanie przez Panią/Pana danych osobowych ma charakter dobrowolny ale jest
            niezbędne do zainstalowania i użytkowania aplikacji CREDO Detector
        </li>
    </ol>


    <h1 id="tos-en">Rules</h1>

    <h2>Consent Clause</h2>

    <p>
        By accepting the following user terms and conditions of the CREDO Detector app, and in
        accordance with Article 6.1.a of the General Data Protection Regulation of April 27, 2016.
        (Official Journal of the EU L 119 of 04.05.2016), the user, at the time of registration in the
        CREDO Detector app, consents to the processing of personal data (in the form of an email
        address, information about the location of the mobile device and access to the device's
        gallery) by the Henryk Niewodniczański Polish Academy of Sciences in Krakow for the
        purposes specified in the CREDO Detector application user terms and conditions, i.e.
        realization of the research goals of the CREDO project
    </p>

    <h2>1. Opening remarks</h2>
    <ol>
        <li>
            CREDO application is one of the tools for acquisition and analysis of data in
            Cosmic-Ray Extremely Distributed Observatory (CREDO) the purpose of which is
            detection and researching for cosmic-ray in global scale in research of cosmic-ray
            ensembles.
        </li>
        <li>
            CREDO is an international scientific project which involves non-scientist in
            citizen-science form. Project participants having at their disposal a mobile device with
            installed CREDO Detector app can acquire scientific information about detected
            cosmic-ray particles. Those information are automatically sent to CREDO servers. All
            participants have access to gathered data and can be processed using an app
            shared by CREDO and also using our own tools.
        </li>
        <li>
            Contact data and basic information: the CREDO Collaboration <a
                href="https://credo.science/">https://credo.science/</a> | <a
                href="https://www.facebook.com/credo.science/">https://www.facebook.com/credo.science/</a>
        </li>
        <li>
            The administrator of the data collected in the CREDO project is
            Instytut Fizyki Jądrowej PAN im. H. Niewodniczańskiego,
            ul. E. Radzikowskiego 152, 31-342 Kraków
        </li>
    </ol>

    <h2>2. Participation in CREDO project</h2>

    <ol>
        <li>
            In order to take part in the CREDO project you will have to install the CREDO
            Detector app, register through it in the CREDO project and start an app Detector
            function with tightly covered main camera from surrounding light. Registration is
            necessary for assurances adequate reliance level for acquired data on the other
            hand tightly covering camera is needed for accurate interpretation of signal
            generated by mobile device camera sensor by penetrating cosmic-ray participle.
        </li>
        <li>
            CREDO project can involve every person of age. In case of under age knowing and
            approval of parents or guardians of law is obligatory.
        </li>
        <li>
            User of CREDO Detector app agrees on sharing with CREDO for scientific research
            such data: e-mail address; username (unique account name), displayed (public)
            username, name of team he/she wants to be in; GPS location data; device
            orientation toward the Earth; device model; operating system version; picturescontaining signal generated by
            penetrating radiation or other signals significantly
            exceeding background level.
        </li>
        <li>
            For security purposes, it is recommended that users do not include their sensitive
            data such as first name, last name, email in their username - whether in a unique or
            public name (displayname).
        </li>
        <li>
            An e-mail address given by the time of registration can be sent messages about the
            CREDO project. Registration means consent to receive information about the
            CREDO project.
        </li>
        <li>
            User account can only be used by its owner. It is forbidden to share accounts with
            anyone else.
        </li>
        <li>
            Users are obligated to secure their account and other authorized data inter alia by
            using tough passwords, accurate privilege and encryption.
        </li>
        <li>
            Through one’s account users can enter CREDO project server and download
            information gathered by oneself and the others.
        </li>
        <li>
            Participation in the CREDO Project is voluntary and does not involve payment to the
            CREDO Collaborative Entities.
        </li>
        <li>
            The entities forming the CREDO cooperation do not offer and do not provide services
            to the Participants of the Credo project, including electronically.
        </li>
    </ol>

    <h2>3. How does a CREDO Detector work?</h2>
    <ol>
        <li>
            App, when the Detector function is working, gathers necessary information needed
            for realizing CREDO scientific goals, saves it in cache device memory, then, when
            Internet connection is established, sends gathered data to CREDO project servers.
        </li>
        <li>
            When the Detector function is not working, the app does not gather data. It can send
            earlier data gathered when the function was still working, but could not be sent to the
            server successfully.
        </li>
        <li>
            App allows you to preview data that was gathered while the Detector function was
            working, which was sent on the server in the previous 10 days.
        </li>
    </ol>

    <h2>4. The action of Detection function</h2>

    <ol>
        <li>
            App registrate image from attached camera and processed it on the same device
        </li>
        <li>
            The effect of processed image is an information about detection or lack of detection
            signal significantly exceeding background level, further excess signal, that can be
            signal generated by penetrating participles secondary cosmic rays.
        </li>
        <li>
            Information about detection of excess signals contains samples of images containing
            detected signals.
        </li>
        <li>
            Content of images on which excess signal was not detected is neither saved in
            device permanent storage nor sent beyond device.
        </li>
        <li>
            Sample images containing detected excess signals are saved in device cache
            memory and sent to CREDO project servers via the Internet. Remaining part of the
            image is not saved in device permanent storage or sent beyond device.
        </li>
        <li>
            From all samples of image there are gathered statistical data about average
            brightness of each sample of image, brightness of the brightest point on the sample
            of image and amount of pixels that are darker than parameters defined in applicationsettings. Those data are
            aggregated in 10 minute periods. Aggregation contains
            information about minimum, average and maximum value.
        </li>
    </ol>

    <h2>5. Additional information gathering when Detector function is working</h2>

    <ol>
        <li>
            When Detector function is working are gathered additional information such as:
            <ul>
                <li>device type and model and operating system version</li>
                <li>position of camera GPS</li>
                <li>device orientation toward Earth (X, Y and Z parameter read from accelerometer)</li>
                <li>device status (connected to charger, USB charging, no charging) and battery status (charging level)
                </li>
                <li>device temperature (if device have thermometer)</li>
            </ul>
        </li>
        <li>
            Additional information is gathered at the moment of detecting excess signal and
            every 10 minutes during Detector function working.
        </li>
    </ol>

    <h2>6. Information sending to CREDO project servers</h2>

    <ol>
        <li>
            CREDO project servers are sent information about detecting excess signals.
        </li>
        <li>
            Along with information about detecting excess signal and after every 10 minutes in
            time of working Detector function application is sending additional information
            reminestent in 1.5.1.on CREDO project servers.
        </li>
        <li>
            All information sent to the CREDO project server is sent along with user account
            identifier (ID).
        </li>
        <li>
            When it is not possible to send gathered data through the Internet, that data is saved
            in device memory. Another try of sending collected data is repeated when the device
            regains Internet access.
        </li>
    </ol>

    <h2>7. Collected and shared data on CREDO project servers</h2>
    <ol>
        <li>
            CREDO project servers collect and process for needs of CREDO project all data sent
            from device with running application CREDO Detector.
        </li>
        <li>
            Users have the right to delete user-account from CREDO project. Deleting accounts
            will bring upon deleting personal data saved in account settings, while collected data
            from CREDO Detector app will only be deleted links with this account.
        </li>
        <li>
            All participants in the CREDO project, once they have been granted greater access,
            can view all data sent to the server from each participant's CREDO Detector
            application.
        </li>
        <li>
            Access to the data is obtained by emailing the CREDO scientific coordinator
            (credodetector@credo.science) and describing why the user wants access to the full
            data and what they intend to do with the data.
        </li>
    </ol>

    <h2>8. CREDO app user security</h2>
    <ol>
        <li>
            When the Detector function is working, the device and camera can heat up. User is
            obligated to watch out so that the device will not get overheated. When devices get
            overheated it could cause damage, can cause burn on people and/or animals and
            cause fire. Appropriate information should also be in the device and camera manual.
        </li>
        <li>
            When using the application, the user agrees not to leave devices unattended without
            which the dangers mentioned in point 1 may occur.
        </li>
        <li>
            The user should be aware of the drain on the battery when running the app for too
            long. If the user is concerned about the battery life of the device then it is
            recommended to limit the running time of the application on the device used on a
            daily basis to
            <ul>
                <li>several hours</li>
                <li>only while the device is charging (when the battery needs charging)</li>
                <li>to abandon use of the app on the new device and limit use to the older device.</li>
            </ul>
        </li>
    </ol>

    <h2>9. Closing remarks</h2>

    <ol>
        <li>
            It is forbidden to use data collected in CREDO projects for other than scientific
            purposes, especially inconsistency with law and with all intentional actions that may
            collide with CREDO project proper work.
        </li>
        <li>
            CREDO is courteously asking users to attach information about using CREDO
            project infrastructure and data in publication, that were published based on results
            obtained using this project and notify International Collaborative CREDO about
            publication.
        </li>
        <li>
            CREDO is courteously asking about information about malfunction in CREDO
            Detector app working. Diagnostic information about app shutdown will be
            automatically send to CREDO project servers.
        </li>
        <li>
            CREDO Detector app creators are reserving the right to make change in following
            rules
        </li>
        <li>
            The regulations are published at <a
                href="https://api.credo.science/web/rules/">https://api.credo.science/web/rules/</a>
        </li>
        <li>
            Changes to the Regulations will be announced by publishing them on the site <a
                href="https://credo.science/">https://credo.science/</a>
        </li>
    </ol>

    <h1>Processing of personal data</h1>

    <p>In accordance with Article 13 of the General Data Protection Regulation of 27 April 2016.
        (Official Journal of the EU L 119 of 04.05.2016), RODO we inform you that:</p>
    <ol>
        <li>
            the controller of your personal data is the Henryk Niewodniczański Institute of Nuclear
            Physics of the Polish Academy of Sciences, ul. Radzikowskiego 152, 31-342 Kraków
        </li>
        <li>
            contact with the Inspector for Personal Data Protection is possible at dpo@ifj.edu.pl.
        </li>
        <li>
            Your personal data will be processed on the basis of Article 6(1)(a) in order to achieve the
            research objectives of the CREDO project
        </li>
        <li>
            The recipients of your personal data will be exclusively:
            <ul>
                <li>entities entitled to obtain personal data on the basis of legal regulations (e.g. court, police)
                </li>
                <li>entities cooperating in scientific cooperation and providing services to IFJ PAN (e.g. ACK
                    Cyfronet, administrators, application developers)</li>
                <li>application shop (Google Play)</li>
            </ul>
        </li>
        <li>
            Your data will be stored until you withdraw your consent to the processing.
        </li>
        <li>
            Your personal data will not be subject to automated processing, including profiling
        </li>
        <li>
            You have the right to request the exercise of your rights under the RODO:
            <ul>
                <li>to access your data and to receive a copy of your data,</li>
                <li>to rectify (amend) your data,</li>
                <li>to withdraw your consent at any time without affecting the lawfulness of the processing
                    carried out on the basis of your consent prior to its withdrawal,</li>
                <li>to have your personal data erased where the processing is not carried out for the
                    performance of an obligation imposed by law or in the exercise of official authority,</li>
                <li>to restrict processing of the data,</li>
                <li>to object to the processing of your data. The objection is linked to the deletion of the user's
                    account.</li>
                <li>to data portability,</li>
                <li>to lodge a complaint to the President of the Office for Personal Data Protection (to the
                    address of the Office for Personal Data Protection, 2 Stawki Street, 00 - 193 Warsaw).</li>
            </ul>
        </li>
        <li>
            Providing your personal data is voluntary, but necessary to install and use the CREDO
            Detector application.
        </li>
    </ol>

</body>

</html>