{% extends "credoweb/base.html" %}

{% block content %}

<div class="box">

    <div class="panel">
        <div class="title"><i class="fas fa-chart-bar"></i> Users </div>
        <table>
            <tr>
                <th><i class="fas fa-sort"></i> user </th>
                <th><i class="fas fa-sort"></i> number of detections </th>
            </tr>
            {% for user in users %}
            <tr>
                <td align="center"> <a href="{% url 'user_page' username=user.name %}">{{ user.display_name }}</a> </td>
                <td align="center"> {{ user.detection_count }} </td>
            </tr>
            {% endfor %}
        </table>
        {% if has_previous %}
            <a style="float: left" href="{% url 'user_list' page=page_number|add:-1 %}"><i class="fas fa-angle-double-left"></i>Previous</a>
        {% endif %}
        {% if has_next %}
            <a style="float: right" href="{% url 'user_list' page=page_number|add:1 %}">Next<i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </div>

</div>

{% endblock %}