{% extends "credoweb/base.html" %}

{% block content %}

<div class="box">

    <div class="title"> {{ user.display_name }} </div>

    {% if user.team.name %}
    <h4 align="center">Team: <a href="{% url 'team_page' name=user.team.name %}">{{ user.team.name }}</a></h4>
    {% endif %}

    <h4 align="center">Number of detections: {{ user.detection_count }}</h4>

    <div class="panel">
        <div class="title"><i class="fas fa-chart-bar"></i>User detections</div>
        <table>
            <tr>
                <th><i class="fas fa-sort"></i> date</th>
                <th><i class="fas fa-sort"></i> img</th>
            </tr>
            {% for detection in user_detections_page.detections %}
            <tr>
                <td width="30%"> {{ detection.date }} </td>
                <td width="50px" align="center"><img style="display:block; width:30px;height:30px;"
                                                     src="data:image/jpeg;base64,{{ detection.img }}" class="big_img">
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if user_detections_page.has_previous %}
        <a style="float: left" href="{% url 'user_page_paginated' username=user.name page=user_detections_page.page_number|add:-1 %}"><i class="fas fa-angle-double-left"></i>Previous</a>
        {% endif %}

        {% if user_detections_page.has_next %}
            <a style="float: right" href="{% url 'user_page_paginated' username=user.name page=user_detections_page.page_number|add:1 %}">Next<i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </div>

</div>

{% endblock %}
